# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv

# VS Code setting
.vscode/

# Logs
*.log

# Databases
*.db

# logs
*.log

# Added by cargo
theater/target

# Image cache
theater/cache/**/*.png

# Fifo
theater/wake.fifo

# Configs
db.yml
