{% macro card_container(card) %}
<div class="col-12 col-lg-6">
    <a class="card-link" href="{{ url_for('card.card', card_id=card.id) }}">
        <div class="card-button-container">
            <div class="card-icon">
                <img class="card-raw-icon" src="{{ card.icon }}">
                {% if card.rarity != 1 %}
                <img class="icon-overlay" src="{{ url_for('static', filename='imgs/icon_overlays/' ~ card.rarity ~ '.png') }}">
                {% endif %}
                <img class="icon-overlay" src="{{ url_for('static', filename='imgs/icon_overlays/' ~ card.idol_type ~ '_type.png') }}">
            </div>
            <div class="card-info">
                <b>{{ card.card_name }}</b>
            </div>
        </div>
    </a>
</div>
{% endmacro %}

{% macro card_list(cards) -%}
<div class="row card-list">
    {% for card in cards %}
    {{ card_container(card) | indent(12, True)}}
    {%- endfor %}
</div>
{%- endmacro %}

{% macro card_info(card) %}
<div class="row stats no-gutters">
    <div class="col-12 name-header {{ card.idol_type }}-header" id="{{ card.id }}" data-awaken=0 data-max-level="{{ card.level_max }}">
        <a class="name" href="#{{ card.id }}">[{{ card.text_rarity }}] {{ card.card_name }}</a>
    </div>
    <div class="col col-lg-auto d-flex justify-content-center">
        <div class="card-image-wrapper">
            <img class="card-image" id="card-image-{{ card.id }}" src="{{ card.card_url }}">
            <button type="button" class="btn btn-dark btn-sm bg-btn" onclick="toggleArt('{{ card.id }}')">
                Toggle Art
            </button>
        </div>
    </div>
    <div class="col stats-container">
        <div class="row">
            <div class="col-12">
                <div class="row row-cols-*">
                    <div class="col">
                        <span class="card-stats-badge misc">Level</span>
                        <button type="button" id="decrease-{{ card.id }}" onclick="decreaseLevel('{{ card.id }}', '{{ card.level_max }}')" class="btn btn-warning btn-sm">
                            -
                        </button>
                        <input type="text" id="level-input-{{ card.id }}" class="level-input" value="1" autocomplete="off" onchange="listenForLevel('{{ card.id }}', '{{ card.level_max }}')">
                        <button type="button" id="increase-{{ card.id }}" onclick="increaseLevel('{{ card.id }}', '{{ card.level_max }}')"  class="btn btn-warning btn-sm">
                            +
                        </button>
                    </div>
                    <div class="col-lg col-sm-12">
                        <span class="card-stats-badge misc">Master rank</span>
                        <button class="btn btn-warning btn-sm" onclick="decreaseRank('{{ card.id }}', '{{ card.level_max }}')">
                            -
                        </button>
                        <input type="text" id="rank-input-{{ card.id }}" class="level-input" value=0 onchange="listenForRank('{{ card.id }}', '{{ card.level_max }}')" data-max="{{ card.max_master_rank }}" data-vo="{{ card.vocal_rank_bonus }}" data-da="{{ card.dance_rank_bonus }}" data-vi="{{ card.visual_rank_bonus }}">
                        <button class="btn btn-warning btn-sm" onclick="increaseRank('{{ card.id }}', '{{ card.level_max }}')">
                            +
                        </button>
                    </div>
                </div>
                <div class="row row-cols-* row-cols-sm-*">
                    <div class="col">
                        <p><span class="card-stats-badge life">
                            Life
                        </span><strong id="life">{{ card.life }}</strong></p>
                    </div>
                    <div class="col">
                        <p><span class="card-stats-badge vocal">
                            Vocal
                        </span><strong id="vo-{{ card.id }}" data-default="{{ card.vocal }}" data-awaken="{{ card.awake_vocal }}" data-default-max="{{ card.max_vocal }}" data-awaken-max="{{ card.max_awake_vocal }}" data-level=1>
                            {{ card.vocal }}
                        </strong></p>
                    </div>
                    <div class="col">
                        <p><span class="card-stats-badge dance">
                            Dance
                        </span><strong id="da-{{ card.id }}" data-default="{{ card.dance }}" data-awaken="{{ card.awake_dance }}" data-default-max="{{ card.max_dance }}" data-awaken-max="{{ card.max_awake_dance }}" data-level=1>
                            {{ card.dance }}
                        </strong></p>
                    </div>
                    <div class="col">
                        <p><span class="card-stats-badge visual">
                            Visual
                        </span><strong id="vi-{{ card.id }}" data-default="{{ card.visual }}" data-awaken="{{ card.awake_visual }}" data-default-max="{{ card.max_visual }}" data-awaken-max="{{ card.max_awake_visual }}" data-level=1>
                            {{ card.visual }}
                        </strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="skill-container">
                    <div class="skill-header">
                        Skill: {{ card.skill_id }}
                    </div>
                    <div class="skill-description">
                        {{ card.skill.tl_desc }}
                    </div>
                    <div class="skill-header">
                        Center Skill
                    </div>
                    <div class="skill-description">
                        {{ card.center_skill.tl_desc }}
                    </div>
                </div>
            </div>
            {% if card.costumes %}
            <div class="col-12">
                <div class="costume-container">
                    <div class="row">
                        <div class="col-12 costume-header">
                            <span class="card-stats-badge costumes">Costumes</span>
                        </div>
                        {% if card.costumes.url != None %}
                            {% for costume in card.costumes.url %}
                            <div class="col-auto costume-wrapper">
                                <img class="costume-image" src="{{ costume }}">
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if card.bg_url %}
    <div class="col-12">
        <img id="bg-art-{{ card.id }}" class="d-block w-100" src="{{ card.bg_url }}">
    </div>
    {% endif %}
</div>
{% endmacro %}