{% import 'snips/card.html' as card %}

{% extends "snips/nav.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %} Home | MirionDB {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="col mx-auto" action="/idol_query" method="POST" autocomplete="off">
                <div class="col form-outline mx-auto autocomplete">
                    <input type="text" name="card-search" class="form-control card-search" value="" 
                    id="card1" placeholder="Search for Cards (E.g kotoha ssr 5 | kotoha ssr)">
                </div>
            </form>
        </div>
        <div class="row box-header event mx-auto" id="countdown">
            {{ event.name }}
        </div>
        <div class="row box event-container mx-auto">
            {% if event_cards != None %}
                {{ card.card_list(event_cards) }}
            {% endif %}
        </div>
        <div class="row box-header additions mx-auto">
            Recent Additions
        </div>
        <div class="row box additions-container mx-auto">
            {{ card.card_list(recent_additions)}}
        </div>
        <div class="row misc-row mx-auto">
            <h5>About</h5>
            <div class="col-12">
                    Just a translated database for MLTD cards. All data is from <a href="https://api.matsurihi.me/docs/">matsurihi.me</a><br>
                    Website Code: <a href="https://github.com/EthanSk13s/miriondb">Here</a>
            </div>
        </div>
        <div class="row mx-auto">
            <h5>Previous Additions</h5>
        </div>
        {% for cards in previous_additions %}
        <div class="row box-header previous mx-auto">
            {{ cards[0].release }}
        </div>
        <div class="row box previous mx-auto">
            {{ card.card_list(cards) }}
        </div>
        {% endfor %}
    </div>
    <script>
        var arr = "{{ event.end }}".split(/[- :]/);
        var countDownDate = new Date(Date.UTC(arr[0], arr[1]-1, date=arr[2], hours=Number(arr[3]), arr[4], arr[5]));
        var x = setInterval(function() {
    
            var now = Date.now();
        
            var distance = countDownDate - now;
        
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
            document.getElementById("countdown").innerHTML = "{{ event.name }} ends in " + days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "{{ event.name }} has finished! Good work everyone!";
            }
        }, 1000);
      </script>
      <script src="{{ url_for('static', filename='js/events.js') }}"></script>
      <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}